$primary: #fd8c2e; // mango orange
$gradient: linear-gradient(267deg, #ff9b4b, #ff711c); //for "background-image"

/* Sidebar Color*/
$grey: #F4F5F7; //sidebar color
$grey-darker: #E8EBF2; //hover

$black: #404040;