<nav>



</nav>

<nav id="sidebar" class="navbar navbar-expand navbar-light py-4 col-md-3">
  <div id="sidebar-container" class="container">
    
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav flex-column nav-pills nav-fill">
        <a id="sidebar-header" href="{{ site.baseurl }}/" class="navbar-brand">
          <img id="logo" src="{{site.baseurl}}/img/proofn_design_logo.png" alt="logo">
        </a>
          

        	{% include nav-list.html type="general"%}

        	<h6 class="sidebar-group">Foundations</h6>
			    {% include nav-list.html type="foundations"%}
        	
			    <h6 class="sidebar-group">Components</h6>
			    {% include nav-list.html type="components"%}

			


      </ul>
    </div>
  </div>
</nav>